pandas
numpy
scipy
yfinance
sec-edgar-downloader
matplotlib          # still needed for other parts of the site
bokeh==3.8.2
jinja2
pdfkit
peewee
lxml
requests
isodate
fredapi
beautifulsoup4
html5lib
plotly>=5.19
arelle


nfl_data_py>=0.3.0
