/* Main body and font styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Navigation bar styles */
.navigation {
    text-align: center; /* Center navigation links */
    padding: 10px 0; /* Padding for the navigation bar */
    background: #f2f2f2; /* Light grey background for the navigation bar */
}

/* Carousel container for interactive elements */
.carousel-container {
    white-space: nowrap; /* Ensure the charts don't wrap */
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    margin: 20px auto; /* Center horizontally */
    padding: 10px 0; /* Padding to prevent content touching the edges */
    scroll-snap-type: x mandatory; /* Enables snap scrolling on the x-axis */
    display: flex; /* Use flex display to manage child elements */
    flex-direction: row; /* Arrange items in a row */
    gap: 20px; /* Spacing between items */
}

.carousel-item {
    display: inline-block; /* Display items in a line */
    width: 100%; /* Full width of the container */
    vertical-align: top; /* Align items to the top */
    margin-right: 20px; /* Margin between items */
}

/* Specific styles for tables */
.table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Home button styling */
.home-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.home-button:hover {
    background-color: #003f4b;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
